html{
  font-family: Verdana;
  text-align: center;
  background-color: black;
  border-right: 20px solid gray;
  border-left: 20px solid gray;


}

body{


}

h1{

  font-weight: Normal;
  font-size: 50px;
  color: white;

}

.links{
  color: Aquamarine;
  font-size: 16px;

}
